h1, h3{
	background-color: blue; 
}
h3{
	color: pink; 
}


.blue{
	color: blue;
	font-family: helvetica;
	font-weight:bolder;
}
p.green{
	color: green;
	font-family: times new roman;
}
.underline{
	text-decoration: underline;
}

h1, h3{
	border: 1px solid black;  
}